/* Import Tailwind CSS */
@import "https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css";

/* Additional custom styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: yellowgreen;
  color: #333;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"],
input[type="date"] {
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 10px;
  flex-grow: 1;
}

button {
  padding: 10px;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}

li span {
  cursor: pointer;
}

li button {
  background: none;
  border: none;
  cursor: pointer;
}
